#header {
  background-color: rgb(4, 60, 245);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px purple, 2px 2px 1px purple;
  font-size: 45px;
  padding: 10px;
}

.about-me-title {
  position: relative;
  text-align: center;
  background-color: rgba(55, 137, 231, 0.664);
  width: 950px;
  border: 10px solid rgb(0, 9, 128);
  padding: 30px;
  margin: 5px;
  margin: auto;
  width: 80%;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

#“socials” h3 {
  color: rgb(179, 119, 248);
  font-size: 30px;
}

#about-me {
  position: relative;
  text-align: center;
  background-color: rgba(55, 137, 231, 0.664);
  width: 950px;
  border: 10px solid rgb(0, 9, 128);
  padding: 50px;
  margin: 5px;
  margin: auto;
  width: 80%;
  color: rgb(255, 255, 255);
}

.flexbox {
  background-color: rgb(175, 126, 255);
  border: 8px rgb(152, 62, 255) solid;
  position: relative;
  text-align: center;
  width: 950px;
  padding: 5px;
  margin: auto;
  width: 80%;
}

.child {
  background-color: rgb(75, 75, 243);
  color: rgb(255, 255, 255);
  position: relative;
  text-align: center;
  width: 950px;
  padding: 20px;
  margin: auto;
  width: 80%;
}

.table2 {
  background-color: rgb(153, 130, 238);
  border: 8px rgb(76, 0, 255) solid;
  border-collapse: collapse;
  position: relative;
  text-align: center;
  width: 950px;
  padding: 5px;
  margin: auto;
  width: 80%;
  padding: 10px;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sub {
  color: white;
  font-size: 18px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 40%;
  padding: 10px;
}

.photo-me {
  border: 5px solid rgb(67, 46, 255);
  border-radius: 80px 40px;
}

.profile-pic {
  border: 5px solid rgb(36, 114, 0);
  border-radius: 50px 20px;
}

.css-button-3d--sky {
  min-width: 130px;
  height: 40px;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3a86ff;
  box-shadow: 0 5px #4433ff;
  text-align: center;
}
.css-button-3d--sky:hover {
  box-shadow: 0 3px #4433ff;
  top: 1px;
}
.css-button-3d--sky:active {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}

h2 {
  color: white;
}
